<a href="https://colab.research.google.com/github/SofiaKrm/DataScience2021/blob/main/TWSM/Class2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Functions

In [ ]:
import numpy as np
import pandas as pd

# function for transformation
def transform_df(text):
    
    (unique, counts) = np.unique(text.split(), return_counts=True)
    df_words = pd.DataFrame(unique, counts).reset_index().rename(columns = {"index":"counts", 0:"word"}).sort_values(by = "counts", ascending = False)
    df_words["rank"] =  df_words["counts"].rank(ascending=False)
    
    return df_words



def vectorize_sequences(sequences, dimension=10000):
    results = np.zeros((len(sequences), dimension))
    for i, sequence in enumerate(sequences):
        for j in sequence:
            results[i, j] = 1.
    return results

## Data Sets

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [20]:
TWSM_path = "/content/drive/MyDrive/Colab Notebooks/"
bing = pd.read_csv(TWSM_path+"bing.csv")

bing

      Unnamed: 0        word sentiment
0              1     2-faces  negative
1              2    abnormal  negative
2              3     abolish  negative
3              4  abominable  negative
4              5  abominably  negative
...          ...         ...       ...
6781        6782   zealously  negative
6782        6783      zenith  positive
6783        6784        zest  positive
6784        6785       zippy  positive
6785        6786      zombie  negative

[6786 rows x 3 columns]

## Gutenberg

In [23]:
!pip install gutenberg

from gutenberg.acquire import load_etext
from gutenberg.cleanup import strip_headers

Requirement already satisfied: gutenberg in /usr/local/lib/python3.7/dist-packages (0.4.0)
Requirement already satisfied: requests>=2.5.1 in /usr/local/lib/python3.7/dist-packages (from gutenberg) (2.23.0)
Requirement already satisfied: rdflib>=4.2.0 in /usr/local/lib/python3.7/dist-packages (from gutenberg) (6.1.1)
Requirement already satisfied: pyparsing in /usr/local/lib/python3.7/dist-packages (from rdflib>=4.2.0->gutenberg) (3.0.7)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from rdflib>=4.2.0->gutenberg) (57.4.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from rdflib>=4.2.0->gutenberg) (4.11.3)
Requirement already satisfied: isodate in /usr/local/lib/python3.7/dist-packages (from rdflib>=4.2.0->gutenberg) (0.6.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.5.1->gutenberg) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.5.1->gutenberg) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.5.1->gutenberg) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.5.1->gutenberg) (1.24.3)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->rdflib>=4.2.0->gutenberg) (3.10.0.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->rdflib>=4.2.0->gutenberg) (3.7.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from isodate->rdflib>=4.2.0->gutenberg) (1.15.0)

In [24]:
text = strip_headers(load_etext(42671)).strip()
#text = load_etext(42671)
#print(text)

In [26]:
TWSM_path = "/content/drive/MyDrive/Colab Notebooks/"
afinn = pd.read_csv(TWSM_path+"afinn.csv")

afinn

      Unnamed: 0       word  value
0              1    abandon     -2
1              2  abandoned     -2
2              3   abandons     -2
3              4   abducted     -2
4              5  abduction     -2
...          ...        ...    ...
2472        2473      yucky     -2
2473        2474      yummy      3
2474        2475     zealot     -2
2475        2476    zealots     -2
2476        2477    zealous      2

[2477 rows x 3 columns]

In [27]:
dic = afinn

#sentiment_merge = pd.merge(dic, df_words, how="inner", on="word")
#sentiment_merge = pd.merge(dic, df_words, left_on="word", right_on="words")
#sentiment_merge["total_value"] = sentiment_merge["value"] * sentiment_merge["counts"]
#ovr_score = np.mean(sentiment_merge["total_value"])

#print(ovr_score)

## IMD Movie Reviews

***Loading the IMDB dataset***

In [28]:
from tensorflow.keras.datasets import imdb
(train_data, train_labels), (test_data, test_labels) = imdb.load_data(
    num_words=10000)

**Decoding reviews back to text**

In [30]:
word_index = imdb.get_word_index()
reverse_word_index = dict(
    [(value, key) for (key, value) in word_index.items()])
decoded_review = " ".join(
    [reverse_word_index.get(i - 3, "?") for i in train_data[0]])

decoded_review

Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/imdb_word_index.json
1646592/1641221 [==============================] - 0s 0us/step
1654784/1641221 [==============================] - 0s 0us/step

"? this film was just brilliant casting location scenery story direction everyone's really suited the part they played and you could just imagine being there robert ? is an amazing actor and now the same being director ? father came from the same scottish island as myself so i loved the fact there was a real connection with this film the witty remarks throughout the film were great it was just brilliant so much that i bought the film as soon as it was released for ? and would recommend it to everyone to watch and the fly fishing was amazing really cried at the end it was so sad and you know what they say if you cry at a film it must have been good and this definitely was also ? to the two little boy's that played the ? of norman and paul they were just brilliant children are often left out of the ? list i think because the stars that play them all grown up are such a big profile for the whole film but these children are amazing and should be praised for what they have done don't you think the whole story was so lovely because it was true and was someone's life after all that was shared with us all"

In [31]:
N=len(train_data)
decoded_reviews = ["" for x in range(N)]

for j in range(N):
  decoded_reviews[j] = " ".join(
    [reverse_word_index.get(i - 3, "?") for i in train_data[j]])

In [ ]:
re.findall("robert", decoded_review)

### Tasks

Build a classifier on the train data in at least five different ways:

1. using sentiment analysis
2. using term frequencies in at least **4** different flavors.

The data set in 2. is VERY high-dimensional so please choose a classifier that can deal with feature selection.

In [32]:
def transform_df(text):
    
    (unique, counts) = np.unique(text.split(), return_counts=True)
    df_words = pd.DataFrame(unique, counts).reset_index().rename(columns = {"index":"counts", 0:"words"}).sort_values(by = "counts", ascending = False)
    df_words["rank"] =  df_words["counts"].rank(ascending=False)
    
    return df_words

path = r"your_path"

dic = pd.read_csv(path)

sentiment_merge = pd.merge(dic, df_words, how="inner", on="words")
sentiment_merge = pd.merge(dic, df_words, left_on="word", right_on="words")
sentiment_merge["total_value"] = sentiment_merge["value"] * sentiment_merge["counts"]
ovr_score = np.mean(sentiment_merge["total_value"])

print(ovr_score)

FileNotFoundError: ignored

## 20-Newsgroups

In this exercise, we will be using the 20-Newsgroups dataset. This version of the dataset contains about 11k newsgroups posts from 20 different topics.

In [ ]:
# Import packages
import pandas as pd
import re
from gensim.parsing.preprocessing import STOPWORDS, strip_tags, strip_numeric, strip_punctuation, strip_multiple_whitespaces, remove_stopwords, strip_short, stem_text
import pickle
import en_core_web_sm
import nltk
nltk.download('stopwords')

In [ ]:
from nltk.corpus import stopwords

# 1. Import and examine data

In [ ]:
# Import dataset
df = pd.read_json('https://raw.githubusercontent.com/selva86/datasets/master/newsgroups.json')
df.head()

In [ ]:
# Examine dataset
print('Possible tagret values:')
print(df.target_names.unique())
print(' ')
print('Class distribution:')
print(df.target_names.value_counts())

*The classes are almost uniformly distributed.*


## NLP in spacy

In [ ]:
import spacy
nlp = spacy.load('en')

In [ ]:
doc = nlp(u"Apples and oranges are similar. Boots and hippos aren't.")

for token in doc:
    print(token,  token.lemma_)